* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Raleway", serif; */
    font-family: "Quicksand", serif;
}

/* =======================================Shared Design=================================================================>>>>>>>>>>>>>>>>>>>>>>>> */

.flex {
    display: flex;
}

.hide {
    display: none;
}

.alc {
    align-items: center;
}

.spb {
    justify-content: space-between;
}

.fdr {
    flex-direction: row;
}

.fdc {
    flex-direction: column;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* ==================================================================Header Section Design===================================================================================> */

header {

    background: white;


}



/* ==================================================================Header Section nav Design===================================================================================> */

nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: calc(100vw - 280px);
    margin: 0 auto;
}

nav .title-area {
    gap: 16px;
}

.menu-list ul {
    gap: 32px;
}

.menu-list ul li {
    list-style-type: none;
}

.menu-list ul li a {

    text-decoration: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.menu-list ul li:nth-child(1) a {
    color: rgb(254, 163, 1);
    font-weight: 700;
}

.menu-list ul li:nth-child(2) a {
    color: rgb(1, 172, 253);
}

.menu-list ul li:nth-child(3) a {
    color: rgb(5, 212, 223);

}

.menu-list ul li:nth-child(4) a {

    color: rgb(93, 88, 239);

}

.contact-button button,
.endroll-button button {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px 60px;
    border: none;
}

.contact-button button a,
.endroll-button button a {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* ==================================================================Hero Section Design Start===================================================================================> */

.hero-section {
    width: calc(100vw - 280px);
    margin: 0 auto;
    gap: 50px;

}
.hero-content{
    gap: 24px;
}
.hero-content h1 {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.hero-content #yellow {
    color: rgb(254, 163, 1);
}

.hero-content #aqua {
    color: rgb(1, 172, 253);
}

.hero-content p {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    width: 65%;
}

.endroll-button button{
    padding: 10px 45px;
    background-color: black;
}











































/* ======================================================================Responsive Design For Mobile ============================================================== */
/* ======================================================================Responsive Design For Mobile ============================================================== */



@media screen and (max-width: 576px) {

    /* ==========================================================Navigation  Bar Design Start============================== */





    nav {
        width: calc(100vw - 40px);

    }

    .logo img {
        width: 70%;
    }

    .title-area .title {
        display: none;
    }

    .menu-list {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .hide {
        display: block;
        font-size: 1.5rem;
    }

    hr {
        border: 0.5px solid rgb(254, 163, 1);
    }






/* ==================================================================Hero Section Design Start===================================================================================> */

.hero-section {
    width: calc(100vw - 40px);
    margin: 0 auto;
    gap: 50px;
    flex-direction: column-reverse;
    margin-top: 30px;
    

}
.hero-content{
    gap: 18px;
    text-align: center;
}
.hero-content h1 {
    font-size: 32px;
   
}

.hero-content p {
    font-size: 14px;
    font-weight: 500;
    width: 98%;
    margin: 0 auto;
}

.endroll-button button{
    padding: 10px 24px;
    background-color: black;
    font-size: 1rem;
    font-weight: 700;
}
.endroll-button button a{
    font-size: 1rem;
    font-weight: 700;
}

.hero-photo img{
    width: 100%;
}















}